#canchaBasquetbol{
  width: 600px;
  height: 400px;
  background: #A05C0A;
  border: 2px solid white;
  margin: auto auto;


}


#lineaDeTresPuntos{
  width: 200px;
  height: 200px;
  border: 2px solid white;
  border-radius: 0 100px 100px 0;
  border-radius: 0 100px 100px 0;
  border-radius: 0 100px 100px 0;
  float: left;
  margin-top: 100px;

}


#areaTiroLibreIzquierdo{
  width: 30px;
  height: 30px;
  border-right: 60px solid transparent;
  border-left: 60px solid transparent;
  border-bottom: 120px solid #C16905;
  float: left;
  margin-top: 130px;
  transform: rotate(90deg);
  position: absolute;

}

#areaDeTiroIzquiero{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-radius: 50%;
  border-radius: 50%;
  border: 2px solid white;
  float: left;
  position: absolute;
  margin-left: 80px;
  margin-top: 160px;
}

#lineaCentral{
  border-left: 2px solid white;
  float: left;
  margin-left: 120px;
  height: 100%;
  right: 50%
  position: absolute;
  top:0%

}
