#canchaFutbol{
  width: 600px;
  height: 400px;
  background: #089515;
  border: 2px solid white;
  margin: auto auto;
  display: none;
}

#porteriaIzquierda{
  width: 80px;
  height: 150px;
  border: 2px solid  white;
  float: left;
  margin-top: 120px;

}

#semiCirculoIzquierdo{
  width: 40px;
  height: 80px;
  border: 2px solid white;
  border-radius: 0 100px 100px 0;
  border-radius: 0 100px 100px 0;
  border-radius: 0 100px 100px 0;
  float: left;
  margin-top: 150px;
}

#lineaMedioCampo{
  border-left: 2px solid white;
  float: left;
  margin-left: 180px;
  height: 100%;
  right: 50%
  position: absolute;
  top:0%

}
#circuloCentral{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-radius: 50%;
  border-radius: 50%;
  border: 2px solid white;
  float: left;
  position: absolute;
  margin-left: 255px;
  margin-top: 150px;
}

#porteriaDerecha{
  width: 80px;
  height: 150px;
  border: 2px solid  white;
  float: right;
  margin-top: 120px;
}

#semiCirculoDerecho{
  width: 40px;
  height: 80px;
  border: 2px solid white;
  border-radius: 100px 0 0 100px;
  border-radius: 100px 0 0 100px;
  border-radius: 100px 0 0 100px;
  float: right;
  margin-top: 150px;
}
